.login {
    width: 100%;
}

.loginMain {
    height: 80vh;
    display: flex;
    margin-top: 2vmin;
    justify-content: space-evenly;
    align-items: center;
}

.loginImg {
    max-height: 70vh;
    max-width: 45%;
}

.loginForm {
    height: 70vh;
    width: 50%;
    text-align: center;
    display: block;
    position: relative;
    background-color: #f0f7f9;
    box-sizing: border-box;
    padding: 3rem 0;
}

.loginFormtitle {
    font-size: 5vmin;
}

.loginForm input {
    font-size: 3vmin;
    height: 5.5vmin;
    width: 70%;
    margin-top: 3vmin;
    margin-bottom: 1vmin;
    border: none;
    box-shadow: 10px 10px 10px -7px #7474748e;
}

.loginForm div:nth-child(4) {
    /* 忘記密碼的樣式 */
    display: flex;
    justify-content: center;
}

.loginForm div:nth-child(4) div {
    /* 忘記密碼的樣式 */
    width: 70%;
    text-align: right;
}

.loginSubmit {
    margin-top: 6vmin !important;
}

.loginSubmit input {
    height: 5.5vmin;
    color: #FFF;
    background-color: #3e7ded;
    /* box-shadow: none !important; */
    box-shadow: 10px 10px 10px -7px #3c3c3cbd;
    cursor: pointer;
}

.loginSubmit input:active {
    box-shadow: 1px 1px 3px #222;
    background-color: #115bdb;
}

.fp {
    font-size: 2vmin;
    color: #7aa4ec;
}

.fp:active {
    color: #0849b9;
}

.separate_marks {
    padding: 0 1rem;
    color: #AAA;
}